@import "tailwindcss";
@import "./base.css";
@import "./components.css";
@import "./pages.css";
@import "./courses.css";
@import "./media.css";
@import "./cv.css";
@import "./project-preview.css";
@import "./navigation.css";
@import "./transitions.css";
@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --color-primary-50: #fffbeb;
  --color-primary-100: #fef3c7;
  --color-primary-200: #fde68a;
  --color-primary-300: #fcd34d;
  --color-primary-400: #fbbf24;
  --color-primary-500: #d97706;
  --color-primary-600: #b45309;
  --color-primary-700: #92400e;
  --color-primary-800: #78350f;
  --color-primary-900: #652b0e;
  --color-primary-950: #421a09;
}
