body
  --text-color: black
  --text-color-less-important: rgba(0,0,0,.7)
  --background-color: white
  --background-semi-transparent: rgba(255,255,255,.5)
  --text-color-secondary: rgba(0,0,0,.5)
  --text-color-hightlight: rgba(0,0,0,.1)
  --link-color: #3737ff

body[light-mode='dark']
  --text-color: white
  --background-color: rgb(20, 20, 20)
  --background-semi-transparent: rgba(20,20,20,.5)
  --text-color-secondary: rgba(255,255,255,.5)
  --text-color-hightlight: rgba(255,255,255,.1)
  --text-color-less-important: rgba(255,255,255,.7)
  --link-color: #6060ff


