body
  --text-color: black
  --background-color: white
  --text-color-secondary: rgba(0,0,0,.5)
  --text-color-hightlight: rgba(0,0,0,.1)
body[light-mode='dark']
  --text-color: white
  --background-color: black
  --text-color-secondary: rgba(255,255,255,.5)
  --text-color-hightlight: rgba(255,255,255,.1)
